<!DOCTYPE html>
<html ng-app="harold">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="app/styles/mStyle.css" charset="utf-8">
    <title>Bob's Story</title>
  </head>

  <body  class="main" ng-controller="mCtrl">
    <header class="littleMenubar">
      <input type="image" class="mobileMenuIcon" src="app/images/MenuIcon4.png" ng-click="menuShower()">
      <p class="littleMenuText">
        Bob's Story
      </p>

    </header>
    <ul class="littleMenu" ng-hide="littleMenuHide">
    <a class="littleMenuButtonLinks" ng-click="menuShower()" ui-sref="welcome">
    <li class="littleMenuButtons" >
      Home
      </li>
      </a>
      <a class="littleMenuButtonLinks" ng-click="menuShower()" ui-sref="story">
      <li class="littleMenuButtons" >
      Bob's Story
    </li>
    </a>
      <li class="littleMenuButtons" ng-click="registerShower(); menuShower()" ng-hide="User">
    <span>Sign Up</span>
    </li>
    <li class="littleMenuButtons" ng-click="loginShower(); menuShower()" ng-hide="User">
    <span>Login</span>
    </li>
    <a class="littleMenuButtonLinks" ng-click="menuShower()" ui-sref="user" ng-hide="!User">
    <li class="littleMenuButtons">
    {{User.userName}}'s Bookmarks
  </li>
  </a>
    <li class="littleMenuButtons" ng-click="logOut(); menuShower()" ng-hide="!User">
    <span>Logout</span>
    </li>
  </ul>

    <header class="menuBar">
      <ul class="menu">
      <a class="menuButtonLinks" ui-sref="welcome">
      <li class="menuButtons">
        Home
        </li>
        </a>
        <a class="menuButtonLinks" ui-sref="story">
        <li class="menuButtons">
        Bob's Story
      </li>
      </a>
        <li class="menuButtons" ng-click="registerShower()" ng-hide="User">
      <span>Sign Up</span>
      </li>
      <li class="menuButtons" ng-click="loginShower()" ng-hide="User">
      <span>Login</span>
      </li>
      <a class="menuButtonLinks" ui-sref="user" ng-hide="!User">
      <li class="menuButtons">
      {{User.userName}}'s Bookmarks
    </li>
    </a>
      <li class="menuButtons" ng-click="logOut()" ng-hide="!User">
      <span>Logout</span>
      </li>
    </ul>
</header>
    <div class="container" ui-view>

    </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/storyCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/welcomeCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/mCtrl.js"></script>
    <script type="text/javascript" src="app/directives/registerDirective.js"></script>
    <script type="text/javascript" src="app/directives/loginDirective.js"></script>
    <script type="text/javascript" src="app/directives/bigScrollDirective.js"></script>
    <script type="text/javascript" src="app/srvcs/srvc.js"></script>


  </body>
</html>
