<section class="loginPage" ng-hide="loginShow">
  <form class="login">
    <h3>Login</h3>
    Username:<input type="text" placeholder="username" ng-model="userName" name="userName" value="">
    Password:<input type="password" placeholder="password" name="password" ng-model="password" value="">
<div class="loginButton">

    <input type="button" name="name" value="login" ng-click="loginFunc(userName, password)">
  </div>
  <div class="loginButton">


<input type="button" name="name" value="cancel" ng-click="loginHider()">
</div>

  </form>
</section>
