<section ng-hide="loginShow">
  <div class="loginPage">

  </div>
  <form class="login">
    <h3>Login</h3>
    <div class="loginFields">
      <div>
        Username:<input type="text" placeholder="username" ng-model="userName" name="userName" value="">
      </div>
      <div>
        Password:<input type="password" placeholder="password" name="password" ng-model="password" value="">
      </div>
    </div>
    <input type="button" name="name" value="login" ng-click="loginFunc(userName, password)">
    <input type="button" name="name" value="cancel" ng-click="loginHider()">
  </form>
</section>
