<section class="loginPage" ng-hide="registerShow">
  <h3>Register a new account</h3>
  <form class="register" ng-hide="registerShow">
    Username:<input type="text" placeholder="username" ng-model="userName" name="userName" value="">
    Email:<input type="text" placeholder="email" ng-model="email" name="userName" value="">
    Password:<input type="password" placeholder="password" name="password" ng-model="password" value="">
    <input type="button" name="name" value="register" ng-click="registerFunc(userName, email, password)">
    <input type="button" name="name" value="cancel" ng-click="registerHider()">
  </form>
</section>
