<section class="welcome">
  <register-directive></register-directive>
  <login-directive></login-directive>
  <div class="storyBackground">


  <h2>Welcome!</h2>
  <div class="navButtonsBox">
   <input type="image" src="app/images/scroll-34606_960_720.png" class="navButtons"/>
 <p class="navText" ng-click="goToStory()">
   Begin
 </p>
 </div>
  <div class="navButtonsBox">
   <input type="image" src="app/images/scroll-34606_960_720.png" class="navButtons"/>
 <p class="navText" ng-click="registerShower()">
   Sign Up
 </p>
 </div>
 <div class="navButtonsBox">
  <input type="image" src="app/images/scroll-34606_960_720.png" class="navButtons"/>
<p class="navText" ng-click="loginShower()">
  Login
</p>
</div>



</div>

</section>
